<div class="container">
  <div class="row justify-content-center">
    <div class="form-login col-12 col-md-6 col-lg-4">
      <%= render "form", regist: @regist %>
      <%= link_to "Voltar", regists_path %>
    </div>
  </div>
</div>