<div class="container">
  <div class="row justify-content-center">
    <div class="form-login col-12 col-md-6 col-lg-4">
      <%= render "form" %>
      <%= link_to "Index", regists_path %>
    </div>
  </div>
</div>
